.home {
    background: url('../../img/human-2944064_1280.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    padding-top: 150px;
    align-items: flex-start;
    width: 100%;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: white;
    opacity: .95;
    width: 100%;
}

.showcase h1 {
    margin-right: 25px;
}

.showcaseTxt {
    color: teal;
    font-family: 'Lilita One', cursive;
    font-size: 3rem;
    letter-spacing: .2rem;
}

.showcaseSecondary {
    letter-spacing: 1.5rem;
    text-decoration: underline;
}